 body{
    background-color: linear-gradient(#b8dafc, white);
    overflow: hidden;
} 

button{
    width: fit-content;
    padding: 8px;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius: 5px;
    background: whitesmoke;
}

button:hover{
    background: rgba(0, 0, 0,0.5);
}

.container{
    border: 1px solid black;

    width: 95%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message{
    border: 1px solid lightgray;
    background: whitesmoke;
    border-radius: 5px;
    width: 500px;
    height: auto;
    margin: auto;
    padding: 0 20px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.message input{
    width: 90%;
    padding: 8px 0;
    border-radius: 5px;
    border: 1px solid lightgray;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

@media(max-width: 480px){
    .message input{
        width: 82%;
    }
}