@import url('https://fonts.googleapis.com/css2?family=Lemon&family=Poiret+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    height: .1rem;
    width: .5rem;
}

::-webkit-scrollbar-track {
    background-color: #67ccff;
}

::-webkit-scrollbar-thumb {
    background-color: #194eb9;
    border-radius: 5rem;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #1d002c;
    color: #fff;
    overflow-x: hidden;
}

header {
    padding: 25px 10%;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 1001;
}

.logo {
    font-size: 2rem;
    color: #12f7ff;
    text-decoration: none;
    font-weight: 600;
}

ul.navlist {
    display: flex;
    align-items: center;
}

.navlist li {
    margin-left: 1rem;
}

.navlist li a{
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    padding: 5px 12px;
    border: 2px solid #12f7ff;
    border-radius: 25px;
    transition: all .3s ease;
}

.navlist li a:hover,
 .navlist li a.active{
    box-shadow: 0 0 1rem #12f7ff;
    background: #12f7ff;
    color: #1d002c;
}


section   {
    min-height: 100vh;
}

.parallax-home {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.parallax-home img {
    position: absolute;
    object-fit: cover;
    pointer-events: none;
}

.parallax-home #text {
    position: absolute;
    font-size: 2.5rem;
    text-shadow: 0 10px 4px rgba(0,0,0,0.85);
    top: 80%;
    left: 3%;
}

.parallax-home img#moon .about img#desert-moon{
    mix-blend-mode: screen;
}


.about {
    position: relative;
}

.about img {
    position: absolute;
    z-index: 1000;
    object-fit: cover;
    pointer-events: none;
}

.about img .about-waterfall {
    position: absolute;
    top: -95px;
}

.about .info-box {
    position: absolute;
    top: 0%;
    left: 10%;
    width: 50%;
    z-index: 1003;
    background: #1d002c;
}

.about .info-box h2 {
    font-size: 2.5rem;
}

.about .info-box p {
    margin-bottom: 1.5rem;
    margin-top: .5rem;
}

.btn {
    background: #12f7ff;
    color: #1d002c;
    text-decoration: none;
    border-radius: 25px;
    padding: .5rem 1rem;
    transition: all .3s ease;
    border: 2px solid #12f7ff;
    font-weight: 500;
}

.btn:hover {
    box-shadow: 0 0 1rem #12f7ff;
    background: #1d002c;
    color: #12f7ff;
}


.products {
    background: #121137;
    padding: 3rem 10%;
}

.products h2 {
    font-size: 2rem;
    padding: 2rem 0 1rem 0;
    text-align: center;
    margin-bottom: 5rem;
}

.products-card {
    display: flex;
    align-items: center;
    justify-content: 1rem;
    gap: 1rem;
}

.card {
    padding: 1rem;
    border: 2px solid #12f7ff;
    text-align: center;
    border-radius: 25px;
    display: block;
    transition: all .4s ease;
    z-index: 999;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-7px);
}


.card img {
    width: 150px;
    height: 150px;
    margin-top: -4rem;
    filter: drop-shadow(0 0 0.5rem #1797ff);
}

.card .price-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info {
    padding-bottom: .5rem;
}

.info p {
    padding: .5rem 0 1.5rem 0;
}

.info .btn {
    display: block;
    width: 60%;
    margin: auto;
}

.price-name span {
    color: #04cf37;
    font-size: 1.5rem;
    font-weight: 500;
}


#progress {
    position: fixed;
    /* background-color: #194eb9; */
    z-index: 1000;
    bottom: 60px;
    right: 10px;
    width: 50px;
    height: 50px;
    display: none;
    place-items: center;
    border-radius: 50%;
    color: #1d002c;
    cursor: pointer;
}

#progress-value {
    display: block;
    height: calc(100% - 12px);
    width: calc(100% -12px);
    background: #fff;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 30px;
}