* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
    background: #e3f9ff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator{
    background: #3a4452;
    padding: 20px;
    border-radius: 10px;
}

.calculator form input{
    border: 0;
    outline: 0;
    width: 30px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
}

form input.equal{
    width: 150px;
}

form input.operator{
    color: #33ffd8
}

/* body {
    min-height: 100vh;
    background: #efeff2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator {
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    background: 222520;
    overflow: hidden;
}

form input {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 12px;
    font-size: 2rem;
    padding: 1rem;
    color: #fff;
    background: #000;
    text-align: right;
    pointer-events: none;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

button {
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid #000;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.btn-yellow {
    background: rgb(245, 146, 62);
    color: #fff;
}

.btn-grey {
    background: rgb(224, 224, 224);
}

.btn-equal {
    background: green;
}

.btn-clear {
    background: red;
} */